p {
  font-family: Amaranth;
  color: rgb(1, 1, 90);
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  background-color: rgb(1, 1, 90);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
  font-family: Amaranth;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: rgb(255, 193, 204);
  color: rgb(1, 1, 90);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 80px 100px 0 100px;
  overflow-x: hidden;
}
.section {
  margin-bottom: 30px;
}

.header {
  display: flex;
  gap: 50px;
  justify-content: end;
  align-items: center;
  background-color: rgb(55, 212, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 100px 0px 100px;
  height: 55px;
  z-index: 2;
}
.logohead {
  justify-self: start;
  margin-right: auto;
}
.logo {
  height: 35px;
}
.navigation {
  display: flex;
  gap: 30px;
}
.nav {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}
.nav:hover {
  color: rgb(255, 231, 235);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.left {
  width: 350px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.body {
  font-size: 18px;
}
.js {
  margin-top: 10px;
}
.banner {
  width: 950px;
  position: relative;
  display: flex;
  justify-content: center;
}
.photo {
  width: 850px;
}
.slideshow {
  width: 100%;
  object-fit: cover;
}
.slide {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.porto {
  display: flex;
  gap: 20px;
}
.card {
  background-color: rgb(1, 1, 90);
  padding: 10px;
  position: relative;
}
.works {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(1, 1, 90, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.overlay .body {
  color: white;
}
.card:hover .overlay {
  opacity: 1;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.content {
  display: flex;
  align-items: start;
}
.content-res {
  display: flex;
  align-items: center;
  width: 800px;
}
.table1 {
  width: 100px;
}
.label {
  font-family: Amaranth;
  color: rgb(1, 1, 90);
  font-size: 18px;
  margin-bottom: 10px;
  width: 100px;
  display: inline-block;
  text-align: left;
}
.form {
  font-family: Amaranth;
  color: rgb(1, 1, 90);
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 300px;
}
.result {
  padding: 20px;
  background-color: rgb(202, 244, 255);
  border-radius: 20px;
}
.sub {
  font-family: Amaranth;
  color: rgb(1, 1, 90);
  font-size: 18px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 212, 255);
  margin: 0 -100px 0 -100px;
  height: 45px;
}

@media (max-width: 600px) {
  body {
    margin: 80px 50px 0 50px;
  }
  .header {
    padding: 0px 50px 0px 50px;
  }
  .nav {
    font-size: 14px;
  }
  .home {
    flex-direction: column;
  }
  .title {
    font-size: 24px;
  }
  .left {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .porto {
    flex-direction: column;
  }
  .message {
    flex-direction: column;
    gap: 30px;
  }
  .result {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  body {
    margin: 80px 100px 0 100px;
  }
  .header {
    padding: 0px 50px 0px 50px;
  }
  .home {
    flex-direction: column;
  }
  .title {
    font-size: 24px;
  }
  .left {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .porto {
    flex-direction: column;
  }
  .message {
    flex-direction: column;
    gap: 30px;
  }
  .result {
    width: 100%;
  }
}
